<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Zele Smith Landing page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JohnDoe main styles -->
    <link rel="stylesheet" href="{% static 'css/johndoe.css' %}">
    <link rel="stylesheet" href="{% static 'css/my-style.css' %}">

</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white m-1 p-2" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto pull-left">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand m-5">
                    <img src="{% static 'imgs/me3.png' %}" alt="" class="brand-img bg-danger badge-danger">
                    <li class="brand-txt">
                        <h5 class="brand-title text-primary">Zelalem Smith</h5>
                        <h6 class="brand-subtitle text-success">Software Developer | Fullstack Developer</h6>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto pull-right">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <did class="container">
    
    {% block content %}

    {% endblock %}
    
    </did>
        <!-- core  -->
        <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
        
        <!-- bootstrap 3 affix -->
        <script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>
        
        <!-- Isotope  -->
        <script src="{% static 'vendors/isotope/isotope.pkgd.js' %}"></script>
        
        <!-- Google mpas -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>
        
        <!-- JohnDoe js -->
        <script src="{% static 'js/johndoe.js' %}"></script>
        <script src="{% static 'js/zs.js' %}"></script>




</body>
</html>